body{
    background-image: linear-gradient(rgb(177, 171, 171), rgb(53, 47, 47), rgb(177, 171, 171));
}

.menu{ 
    float: right;
    position: relative;
    width:750px;
    height: 125px; 
    border:2px white;
    font-size:18px; 
    border-style: double;
    border-width: 4px;
    border-color:rgb(53, 47, 47);
}

.menu h3{
    font-size: 24px;
    color: whitesmoke;
    background-color: black;
}

h1{
    color:black;
    font-size:60px;

}
.image img{
    width: 700px;
    height: 250px;
}

.carter img{
    width: 480px;
    height: 200px;
}

.snare img{
    width: 480px;
    height: 350px;
    text-align: center;
}
.snare p{
    width: 480px;
    font-size: 20px;
    color:whitesmoke;
}

.snare{
    position: relative;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    height: 680px;
    width: 480px;
    float: left;
}
.snare h2{
    text-align: center;
    font-size: 35px;
}

.toms{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    position: relative;
    float: left;
    height: 680px;
    width: 480px;
}

.toms h2{
    font-size: 35px;
    text-align: center;
}

.toms p{
    font-size: 20px;
    color: whitesmoke;
    width: 480px;
}

.toms img{
    width: 480px;
    height: 350px;
}

.cymbals{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    position: relative;
    height: 680px;
    width: 480px;
    float: left;
}

.cymbals h2{
    font-size: 35px;
    text-align: center;
}

.cymbals p{
    font-size: 20px;
    color: whitesmoke;
    width: 480px;
}

.cymbals img{
    width: 480px;
    height: 350px;
}

.bass{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    float: left;
    height: 680px;
    width: 480px;  
    position: relative;
}

.bass h2{
    font-size: 35px;
    text-align: center;
}

.bass p{
    font-size: 20px;
    color:black;
    width: 480px; 
}

.bass img{
    width: 480px;
    height: 350px;
}

.cajon{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    float: left;
    height: 680px;
    width: 480px;  
    position: relative;
}

.cajon h2{
    font-size: 35px;
    text-align: center;
}

.cajon p{
    font-size: 20px;
    color: black;
    width: 480px; 
}

.cajon img{
    width: 480px;
    height: 350px;
}

.tamb{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    float: left;
    height: 680px;
    width: 480px;
    position: relative; 
}

.tamb h2{
    font-size: 35px;
    text-align: center;
}

.tamb p{
    font-size: 20px;
    color:black;
    width: 480px; 
}

.tamb img{
    width: 480px;
    height: 350px;
}

footer
{
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
    width:1475px;
    position:absolute;
}

.wrapper{
    min-height: 100%;
    margin-bottom: 950px;
}
.main{
    width: 1475px;
    height: 700px;
}




